html {
    background-color: azure;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Macondo Swash Caps", cursive;
}

/* side border images */

.side-border {
    position: fixed;
    top: -20px;
    width: 160px;           
    height: 120vh;
    background-image: url("border-image-3.png");
    background-repeat: repeat-y;
    background-size: cover;
    z-index: 1;
}

.side-border.left {
    left: 0;
}

.side-border.right {
    right: 0;
}

/* header */

.header-box {
    background-color: rgba(255, 255, 255, 0);
    padding: 30px;
    text-align: center;
    z-index: 5;
    position: relative;
}

.title {
    color: rgb(0, 79, 129);
    margin: 0;
    font-size: 50px;
}

/* top nav */

.top-nav {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-btn {
    background: rgba(255, 255, 255, 0.6);
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 20px;
    color: rgb(0, 79, 129);
    text-decoration: none;
    border: 2px solid rgb(0, 79, 129);
    transition: 0.2s;
}

.nav-btn:hover {
    background: rgb(0, 79, 129);
    color: white;
}

/* current tab */

.current-tab {
    background: rgb(0, 79, 129);
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 2px solid rgb(0, 79, 129);
    transition: 0.2s;
}

/* main content */

main {
    position: relative;
    z-index: 5;
    padding-left: 200px;
    padding-right: 200px;
    max-width: 1000px;
    margin: 40px auto;
}

/* Boxes */

.grid-frame{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    z-index: 5;
    position: relative;
    align-items: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 10px;
    width: 100%;
    max-width: 1400px;
    border-radius: 20px;
}

.grid-box1 {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    height: 800px;
}

.grid-box2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
}