html {
    background-color: azure;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Macondo Swash Caps", cursive;
}

/* side border images */

.side-border {
    position: fixed;
    top: 0;
    width: 160px;
    height: 100vh;
    background-image: url("border-image.png");
    background-repeat: repeat-y;
    background-size: cover;
    z-index: 1;
}

.side-border.left {
    left: 0;
}

.side-border.right {
    right: 0;
}

/* header */

.header-box {
    background-color: rgba(255, 255, 255, 0);
    padding: 30px;
    text-align: center;
    z-index: 5;
    position: relative;
}

.title {
    color: rgb(0, 79, 129);
    margin: 0;
    font-size: 50px;
}

/* menu area */

.menu-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    z-index: 5;
    position: relative;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 30px;
    width: 70%;
    max-width: 1400px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}

/* button/box */
.menu-box {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    text-decoration: none;
    display: block;
    height: 400px;
    background-color: rgb(56, 135, 205);
    box-shadow: 0 4px 10px rgba(0,0,0,0.40);
    transition: transform 0.3s ease;
}

.menu-box:hover {
    transform: scale(1.05);
}

/* images within the buttons */
.menu-img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0.85;
    transition: opacity 0.3s ease;
}

.menu-box:hover .menu-img {
    opacity: 1;
}

/* text for the buttons */
.menu-box h2 {
    position: absolute;
    bottom: 12px;
    left: 12px;
    margin: 0;
    padding: 6px 10px;
    background-color: rgba(0,0,0,0.55);
    color: white;
    font-size: 20px;
    border-radius: 6px;
    pointer-events: none; 
    font-family: "Macondo Swash Caps", cursive;
}